@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-color:lightgrey
}

li {
  border: solid, 1.5px;
  text-align: center;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 250px;
  padding: 10px 10px;
  border-radius: 15px;
  transition: transform 0.5 ease;
}

li:hover {
  transform: scale(1.04);
}

ul {
  margin: 10px;
  display: flex;
    flex-wrap: wrap;
    list-style: none;
}

#add {
  border: solid, 1px;
  padding: 2px;
  width: 270px;
  margin-top: 26px;
  border-radius: 10px;
  background-color: #BDD5E7
}

#add:hover {
  background-color: #9ABDDC;
  cursor: pointer;
}

#title {
  font-weight: bold;
}

h1 {
  font-size: 30px;
  margin: 10px;
  padding: 10px;
}

#filter {
  background-image: linear-gradient(to bottom, #BABABA 0%, lightgrey 50%, #BABABA 100%);
  width: 150px;
  border-radius: 10px;
  padding: 3px;
  border: solid, 1.5px, black;
}

#filter-box {
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

h2 {
  padding: 5px;
}

#search {
  border: solid, 1.5px, black;
  border-radius: 5px;
  padding: 3px;
  width: 250px;
}

#remove {
  border: solid, 1px;
  padding: 2px;
  width: 270px;
  margin-top: 26px;
  border-radius: 10px;
  background-color:#BABABA
}

#remove:hover {
  cursor: pointer;
  background-color:#9ABDDC;
}

#queue {
  border: solid, 2px, black;
  margin: 30px;
  padding: 10px;
  border-radius: 20px;
}

#queue-title{
  font-size: 20px;
  font-weight: bold;
  margin: 5px;
  padding: 5px;
}

#reset {
  background-color:#F5F5F5;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  transition: transform 0.5 ease;
}

#reset:hover {
  cursor: pointer;
  transform: scale(1.04);
}